<main>
    <form action="" method="post">
        <h2>Register</h2>
        <div class="on-dark">
            <label for="username">Username:</label>
            <input type="text" placeholder="Username" name="username" id="username" value="{{user.username}}">
        </div>

        <div class="on-dark">
            <label for="password">Password:</label>
            <input type="password" placeholder="********" name="password" id="password" value="">
        </div>

        <div class="on-dark">
            <label for="rePassword">Repeat Password:</label>
            <input type="password" placeholder="********" name="rePassword" id="rePassword" value="">
        </div>

        <button class="btn" type="submit">Register</button>
    </form>
</main>